.expense-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #4b4b4b;
  }
  
  .expense-item__description {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex: 1;
  }
  
  .expense-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  
  .expense-item__price {
     font-size: 1rem; 
     background-color: #40005d;
     border: 2px solid white;
     border-radius: 12px;
     padding: 8px;
     font-weight: bold;
     }
  